<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" 
	               xmlns:ng="http://angularjs.org" ng-app="myapp">
<head>
    <title>count the usage of the user in each system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="../../static/js/bootstrap4-1-0/bootstrap.min.css"/>
    <script  src="../../static/js/jquery2-1-3/jquery.min.js"></script>
    <script src="../../static/js/bootstrap4-1-0/bootstrap.min.js"></script>
    <script src="../../static/js/angular1-5-8/angular.min.js"></script>
    <style>
    	.gw-inddexname{
    		color:#1C7430;
    		font-family: "微软雅黑";
    		font-weight: 700;
    		
    	}
    </style>
    
</head>
<body class="" th:fragment="gwActivSys">
	<div class="container">
		<!--查询条件-->
		
		<div class="row">
			<form  >
				<div class="row" >
					<div class="col-md-6"><label>系统分类：</label><input type="text"></input></div>
					<div class="col-md-6"><label>系统名称：</label><input type="text"></input></div>
				</div>
				<br />
				
				<div class="row" >
					<div class="col-md-6"><label>开始时间：</label><input type="date"></input></div>
					<div class="col-md-6"><label>结束时间：</label><input type="date"></input></div>
				</div>		
			</form>
			
		</div>
		<!--/查询条件-->
		
		
		<!--活跃系统-->
			<div><h3 style="font-weight: 20px;font-family: '微软雅黑';">系统账号使用情况</h3></div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									系统分类
								</th>
								<th>
									系统名
								</th>
								<th>
									当前在线用户数
								</th>
								<th>
									当月累计登陆人次
								</th>
								<th>
									累计登陆人次
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="systemLog,iterStat : ${systemLogs}">
								<td th:text="${iterStat.index + 1}"></td>
								<td th:text="${systemLog.sysClass}"></td>
								<td th:text="${systemLog.sysname}"></td>
								<td th:text="${systemLog.online_num}"></td>
								<td th:text="${systemLog.month_accum_login_num}"></td>
								<td th:text="${systemLog.accum_login_num}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" >&nbsp;&nbsp;&nbsp;<a href="#">》<span style="font-size:x-large;">more</span></a></div>
		<!--/活跃系统-->
		<br />
		<hr />
		<!--当前系统的账号使用情况-->
		<!--选定要查询的指标-->
		<div><h3>定义</h3></div>
		<div>
			<form>
				<div class="row">
					<div class="col-md-3  gw-inddexname" >
						<input type="checkbox" >1.系统分类 </input>
					</div>
					<div class="col-md-9">
						<h6></h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3  gw-inddexname">
						<input type="checkbox" >2.系统名</input>
					</div>
					<div class="col-md-9">
						<h6></h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3  gw-inddexname">
						<input type="checkbox" >3.当前在线用户数 </input>
					</div>
					<div class="col-md-9">
						<h6></h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3  gw-inddexname">
						<input type="checkbox" >4.当月累计登陆人次 </input>
					</div>
					<div class="col-md-9">
						<h6></h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3  gw-inddexname">
						<input type="checkbox" >5.累计登陆人次 </input>
					</div>
					<div class="col-md-9">
						<h6></h6>
					</div>
				</div>
			</form>				
		</div>
		<!--/选定要查询的指标-->
		
		<!--查询结果-->
		<!--/查询结果-->
		
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>
							指标名
						</th>
						<th>
							指标值
						</th>
					</tr>				
				</thead>
				<tbody>
					<tr>
						<td>
							活跃用户数
						</td>
						<td>32</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<!--/-->
		
		
		<!--/-->
	</div>



</body>
</html>